name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


# env:
#   ANIMAL_ADOPTION_FUNCTIONAL_TEST_PATH: http://localhost:9000


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 3.1.x
        # dotnet-version: 3.1.301

      # These flags below can be used for Nuget pushing
        # source-url: https://nuget.pkg.github.com/TravisHuntingAWARE/index.json
      # env:
        # NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              
    - name: Install dependencies for all projects
      run: dotnet restore

    - name: Build all projects
      run: dotnet build --configuration Release --no-restore

    # This also works for publishing
    # - name: Publish Application
    #   run: dotnet publish --output taa-portal

    - name: Publish portal project in Release mode
      run: dotnet publish ${{ github.workspace }}/AnimalAdoption.Web.Portal/AnimalAdoption.Web.Portal.csproj --configuration Release --no-build --output ./taa-portal/

    # - name: Install Chrome
    #   uses: browser-actions/setup-chrome@latest
    
    # - name: Install Chrome Webdriver
    #   uses: nanasess/setup-chromedriver@v1

    # - name: Test
    #   run: dotnet test --no-build --verbosity normal

    - name: List out directory contents
      run: |
        echo "Listing the contents of the GitHub workspace directory"
        ls ${{ github.workspace }}

        echo "Recursively listing all contents of the current directory"
        ls -R

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.1.3
      with:
        name: drop
        path: ${{ github.workspace }}/taa-portal/
        if-no-files-found: error

    - name: Unit Tests 1
      run: dotnet vstest ${{ github.workspace }}/AnimalAdoption.Web.Portal.UnitTests/bin/Release/netcoreapp3.1/AnimalAdoption.Web.Portal.UnitTests.dll

    - name: Unit Tests 2
      run: dotnet test ${{ github.workspace }}/AnimalAdoption.Web.Portal.UnitTests/bin/Release/netcoreapp3.1/AnimalAdoption.Web.Portal.UnitTests.dll

    - name: Unit Tests 3
      run: dotnet test ${{ github.workspace }}/AnimalAdoption.Web.Portal.UnitTests/AnimalAdoption.Web.Portal.UnitTests.csproj --verbosity normal --configuration Release
      
    - name: Unit Tests 4
      run: dotnet test

    - name: Pack CommonLogic project for NuGet
      run: dotnet pack AnimalAdoption.Common.Logic.csproj --configuration Release --no-build -p:PackageVersion=$PKG_VERSION
      working-directory: ${{ github.workspace }}/AnimalAdoption.Common.Logic/
      shell: bash
      env:
        PKG_VERSION: 1.0.0

    - name: Push the CommonLogic NuGet package
      # this also works when run with the 'source-url' and "env -> NUGET_AUTH_TOKEN" options in the "Setup .NET Core" step
      # gives a warning that you should use the --api-key option however
      # run: dotnet nuget push  ${{ github.workspace }}/AnimalAdoption.Common.Logic/bin/Release/*.nupkg --skip-duplicate
      run: |
        dotnet nuget push "${{ github.workspace }}/AnimalAdoption.Common.Logic/bin/Release/*.nupkg" \
          --skip-duplicate \
          --api-key ${{ secrets.GITHUB_TOKEN }} \
          --source https://nuget.pkg.github.com/${{ github.repository_owner }}

  deploy:
    runs-on: ubuntu-latest
    needs: build # Name of the build step above
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          # name: .net-app
          name: drop

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'AnimalAdoption1'
          # slot-name: 'production'
          slot-name: 'dev'
          # publish-profile: ${{ secrets.AzureAppService_PublishProfile_5e7bf0c465b9412982878234ae840612 }}
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE_DEV }}
          package: .

      - name: Set Web App ACR authentication
        uses: Azure/appservice-settings@v1
        with:
          app-name: 'AnimalAdoption1'
          app-settings-json: |
            [
              {
                "name": "GlobalPassword",
                "value": "${{ secrets.GLOBAL_PASSWORD }}",
                "slotSetting": false
              }
            ]