name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore

    - name: Install Chrome
      uses: browser-actions/setup-chrome@latest
    
    - name: Install Chrome Webdriver
      uses: nanasess/setup-chromedriver@v1
    # - run: |
    #     export DISPLAY=:99
    #     chromedriver --url-base=/wd/hub &
    #     sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional

    - name: Test
      run: dotnet test --no-build --verbosity normal
