name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


# env:
#   ANIMAL_ADOPTION_FUNCTIONAL_TEST_PATH: http://localhost:9000


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore

    # - name: Install Chrome
    #   uses: browser-actions/setup-chrome@latest
    
    # - name: Install Chrome Webdriver
    #   uses: nanasess/setup-chromedriver@v1

    # - name: Test
    #   run: dotnet test --no-build --verbosity normal

    - name: List out directory contents
      run: |
        echo "Listing the contents of the GitHub workspace directory"
        ls ${{ github.workspace }}

        echo "Recursively listing all contents of the current directory"
        ls -R

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.1.3
      with:
        name: drop
        path: ${{ github.workspace }}/AnimalAdoption.Web.Portal/bin/Release/netcoreapp3.1/
        if-no-files-found: error

    - name: Unit Tests
      run: dotnet test ${{ github.workspace }}/AnimalAdoption.Web.Portal.UnitTests/AnimalAdoption.Web.Portal.UnitTests.csproj --verbosity normal --configuration Release
      # run: dotnet test ${{ github.workspace }}/AnimalAdoption.Web.Portal.UnitTests/AnimalAdoption.Web.Portal.UnitTests.csproj --no-build --verbosity normal --configuration Release
      # run: dotnet test